:root {
    --corFundo: #AAAAAA;
    --corPrincipal: #FFF;
    --corFont: #002247;
    --corBotaoHover: #0E2F52c0;
    --corBotaoAnimacao: #004794;
	--corFonte: #FFF
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
	
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--corFundo);
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 90%;
    max-width: 1000px;
	color: var(--corFonte);
}

.formatacao-geral {
    text-align: center;
    margin: 10px 0;
}

.titulo {
    margin-top: 10%;
    display: block;
}

.container-tabela {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-admin {
	display: block;
	margin-bottom: 10px;
	height: 45px;
}

.caixa-texto {
	height: 35px;
	width:	200px;

	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid var(--corFont);
	
	background-color: transparent;

	color: var(--corFont);
	font-size: 18px;
}

.caixa-texto:focus {
	outline: none;
	color: var(--corFont);
	font-size: 18px;
}

.caixa-texto::placeholder {
	font-size: 18px;
	align-items: center;
	font-style: italic;
}

.btn {
	height: 30px;
	width: 50px;
	background-color: var(--corBotaoHover);
	border-radius: 5px;
	color: var(--corFonte);
}

.btn:hover {
	height: 35px;
	width: 55px;
}

td, tr {
    border-left: 2px solid var(--corBotaoAnimacao);
}

td {
	width: 20%;
	max-width: 20%;
}

* {
	box-sizing: border-box;
}



/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
input {
    width: 30%;
}
button {
    margin: 10px 0;
    width: 30%;
}

.remove 
{
    width: 15px;
    height: 15px;
    background-color: red;
    text-align: center;
}