:root {
    --corFundo: #AAAAAA;
    --corPrincipal: #FFF;
    --corFont: #002247;
    --corBotaoHover: #0E2F52c0;
    --corBotaoAnimacao: #004794;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

/*body {
    width: 100%;
    height: 100vh;
    background-color: var(--corFundo);
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 90%;
    max-width: 1000px;
}

.formatacao-geral {
    text-align: center;
    margin: 10px 0;
}

.titulo {
    margin-top: 10%;
    display: block;
}

.container-tabela {
    display: flex;
    justify-content: center;
    align-items: center;
}

td, tr {
    border-left: 2px solid var(--corBotaoAnimacao);
}

.tabela {
    
}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
    justify-content: center;
    align-items: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
input {
    width: 30%;
}
button {
    margin: 10px 0;
    width: 30%;
}

.remove 
{
    width: 15px;
    height: 15px;
    background-color: red;
    text-align: center;
}